/////////ABOUT ME///////
.aboutme {
  background: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 86%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0 86%);
  padding-top: 10px;
  padding-bottom: 153px;

  &__links {
    color: $teal;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
      color: teal;
    }
  }
  
  &__content {
    width: 75%;
    margin: 0 auto;
   
  }

  &__greeting {
    max-width: 21vw;
    transform: rotate(-20deg);
    margin-top: 12px;
    margin-bottom: 18px;
  }
  
  &__img {
    position: relative;
    border-radius: 100%;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -50px;
    display: block;
    border: solid 2.5px $primary-font;
  }
  
  &__blurb {
    text-align: justify;
    padding-bottom: 15px;

    p {
      font-family: $para-font;
      line-height: 2em;
    }
  } 
}

@media (min-width: 960px) {

  .aboutme {

    &__content {
      width: 60%;
    }

    &__greeting {
      max-width: 17vw;
      margin-top: 35px;
      margin-left: 4em;
    }

    &__img {
      width: 30%;
    }
  }

}
