///////////////CONTACT LINKS///////////////
.contact {
    padding-top: 1em;
    background: #fff;
    margin-top: -2.2em;

  &__wrapper {
   

    text-align: center
  }
  
  &__head {
    color: $primary-font;
    display: block;
    font-family: $para2-font;
    font-weight: 200;
    font-size: 1.75em;
    padding-top: 1em;
    
  }
  
  #resume-bottom {
    padding-bottom: 2vh;
  }

  &__icons {
    display: inline-block;
    margin: 0 auto;

 
    a {
      display: inline-block;
      padding-right: 1em;
      text-decoration: none;
      font-family: $para2-font;
      color: $teal;

      &:last-child {
        padding-right: 0;
      }

      i {
        font-size: 2.5em;
      }
    }
  }
  
  .contact-links {
    text-decoration: none;
    font-family: $para2-font;
    color: $teal;
    display: block;
    font-size: 1.2em;

    
  }
  
  a:hover {
    color: teal;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
  }
}

@media screen and (min-width: 700px) {
  #contact-section .contact-head {
    font-size: 3em;
  }
  .contact-links {
    i {
      font-size: 3em;
    }
  }
}