@import 'variables';

///////LANDING//////////
.page-border {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
  
  }
  
  .landing-section {
    width: 100%;
    display: inline-block;
    font-size: 9vw;
    text-align: centre;
    font-family: $light-font;
    min-height: 80vh;
  
  
    .name {
      padding-top: 13%;
      background: $font-image;
      background-size: 100%;
      background-repeat: no-repeat;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      display: block;
      text-align: center;
      animation: nameMoveIn 1.5s ease-in;
    }
    .tag-line {
      padding-top: 2%;
      @extend .name;
    }
  }