@import 'variables';

///////LANDING//////////
  
.landing {
    // background: red;
    text-align: center;
    font-family: $light-font;
    position: relative;
    padding-bottom: 93px;
    background: #fff;
  
  &__name {
    font-size: 125px;
    background: $font-image;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 80%;
    -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      display: block;
      text-align: center;
      animation: nameMoveIn 1.5s ease-in;
  }

  &__tag-line {
    padding-top: 2%;
    font-size: 90px;
    background-position-y: 40%;
  }

  &__chevron {
    position: absolute;
    left: 50%;
    bottom: 55px;
    z-index:20;
    text-align: center;
    animation: chevBounce 1s ease-in infinite;
    
    a {
      color: $primary-font;
      transition: .3s ease;
      
    
      &:hover {
        color: teal;
        transition: all .3s ease;
      }

      svg {
        width: 25px;
      }
    }
  }
}

//iphone
@media screen and (max-width: 500px) {
  .landing {

    &__name {
      padding-top: 175px;
    }

    &__chevron {
      display: none;
    }
  }
}

// tablet
@media screen and (min-width: 501px) {
  .landing {
    &__content {
      padding-top: 85px;
    }
    &__name {
      padding-top: 22px;
    }
  }
}

@media screen and (min-width: 960px) {
  .landing {
    &__name {
      font-size: 200px;
      padding-top: 32px;
      background: $font-image;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-y: 49%;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      display: block;
      text-align: center;
      animation: nameMoveIn 1.5s ease-in;
    }

    &__tag-line {
      font-size: 180px;
    }

    &__chevron {
      display: block;
      a {
        svg {
          width: 37px;
        }
      }
    }
  }
}
