@import 'variables';

///////LANDING//////////
  
  .landing {
    background: red;
    text-align: centre;
    font-family: $light-font;
    // background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 93%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 93%);

  
    &__name {
      font-size: 45px;
      padding-top: 13%;
      background: $font-image;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-y: 49%;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      display: block;
      text-align: center;
      animation: nameMoveIn 1.5s ease-in;
    }

    &__tag-line {
      padding-top: 2%;
      font-size: 1.7em;
      background-position-y: 40%;
      @extend .name;
    }

    // .chevron {
    //   // margin-bottom: 15%;
    // }
  }
