
@import 'landing';
@import 'variables';
@import 'nav';
@import 'about';
@import 'projects';
@import 'contact';

////////////////RESET//////////////////////

* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


///////////////MAIN STYLING///////////////////

body {
  // padding-top: 95px;
  color: $primary-font;
  background: url('../images/u-inky-patterns-bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
}



.clipped {
  background: url('../images/u-inky-patterns-bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background: yellow;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  // margin-bottom: -1px;
  

  &--right {
    -webkit-clip-path: polygon(100% 94%, 0 100%, 100% 100%);
clip-path: polygon(100% 85%, 0 100%, 100% 100%);
    
  }

  &--left {
    -webkit-clip-path: polygon(100% 94%, 0 100%, 100% 100%);
  clip-path: polygon(100% 85%, 0 100%, 100% 100%);
  height: 29%;
  }
  
}


/////MEDIA QUERIES /////
//iPhone//

@media (min-width: 1000px) {
  
}

// @media (max-width: 415px) {

//   nav {
//     font-size: 1.9rem !important;
//   }





//   .tag-line {
//     padding-top: 1% !important;
//   }
// }

// @media (max-width: 500px) {

//   nav {
//     font-size: 1.9rem !important;
//   }




//   .section-title {
//     font-size: 6vw;
//   }

//   .work-section-title {
//     font-size: 8.5vw !important;
//   }
// }

// @media (max-width: 768px) {

//   body {
//       // padding-top: 160px;
//   }



//   // .landing-section {
//   //     height: 80vh;
//   //     padding-bottom: 6vh;

//   //   .name {
//   //     padding-top: 17%;
//   //     // font-size: 19vw;
//   //   }

//   //   .tag-line {
//   //     padding-top: 3%;
//   //     // font-size: 12vw;
//   //   }
//   // }

//   // #aboutme-section {
//   //   min-width: 65%;
//   //   padding-bottom: 11vh;

//   //   #head-shot {
//   //     width: 32vw;
//   //   }
//   // }





//   // #portfolio-section {
//   //   min-width: 65%;
//   //   padding-top: 2vh;

//   //   .work-section-title {
//   //     font-size: 2.5rem;
//   //   }

//   //   .project-blurb {
//   //     line-height: 1.5em;
//   //   }
//   //   .tech-used-head {
//   //     padding-top: 10%;
//   //   }
//   // }

//   // #contact-section {

//   //   .contact-head {
//   //     font-size: 2.5rem;
//   //     padding-bottom: 5px;
//   //   }

//     // .emoji {
//     //   font-size: 3rem;
//     // }

// //     .contact-links {
// //       font-size: 1.6rem;
// //     }
// //   }
// // }

// @media (max-width: 868px) {
//   body {
//     // padding-top: 120px !important;
//   }
 

//   // .landing-section {
//   //     height: 80vh;
//   //     padding-bottom: 6vh;

//   //   .name {
//   //     padding-top: 12%;
//   //     // font-size: 16vw;
//   //   }

//   //   .tag-line {
//   //     padding-top: 2%;
//   //     // font-size: 10vw;
//   //   }
//   // }



//   // #aboutme-section {
//   //   min-width: 90%;
//   //   padding-bottom: 11vh;

//   //   #head-shot {
//   //     width: 28vw;
//   //   }
//   // }

//   // #portfolio-section {
//   //   min-width: 90%;
//   //   padding-top: 2vh;

//   //   .work-section-title {
//   //     font-size: 2.5rem;
//   //   }

//   //   .screenshots {
//   //     width: 90% !important;
//   //   }

//   //   .project-blurb {
//   //     line-height: 1.5em;
//   //   }
//   //   .tech-used-head {
//   //     padding-top: 10%;
//   //   }
//   // }
//   // #contact-section {

//   //   .contact-head {
//   //     font-size: 2.5rem;
//   //     padding-bottom: 5px;
//   //   }

//     // .emoji {
//     //   font-size: 3rem;
//     // }

// //     .contact-links {
// //       font-size: 1.6rem;
// //     }
// //   }
// // }

// @media (max-width: 1450px) {

//   // .landing-section {
//   //   .name {
//   //     padding-top: 50px !important;
//   //   }
//   //   .tag-line {
//   //     padding-top: 14.5px !important;
//   //     }
//   //   }
  
// }
// @media (max-width: 1665px) {

//   body {
//     // padding-top: 120px;
//   }



//   // .landing-section {
//   //   // font-size: 8vw !important;

//   //   .name {
//   //     padding-top: 10%;
//   //   }
//   //   .tag-line {
//   //     padding-top: 0;

//   //   }
//   // }



// //   #contact-section {

// //     .contact-head {
// //       font-size: 2.5rem;
// //       padding-bottom: 5px;
// //     }

// //     // .emoji {
// //     //   font-size: 3rem;
// //     // }

// //     .contact-links {
// //       font-size: 1.6rem;
// //     }
// //   }

// // }

// @media (min-width: 1666px) {

//   nav {
//     padding: 0.5%;
//   }

//   // .landing-section {
//   //   // font-size: 7.5vw;

//   //   .name {
//   //     padding-top: 10%;
//   //   }
//   //   .tag-line {
//   //     padding-top: 0;

//   //   }
//   // }



//   #contact-section {

//     .contact-head {
//       font-size: 2.5rem;
//       padding-bottom: 5px;
//     }

//     // .emoji {
//     //   font-size: 3rem;
//     // }

//     .contact-links {
//       font-size: 1.6rem;
//     }
//   }

// }
