@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@font-face {
  font-family: Claxton-Bold;
  src: url("fonts/Claxton-Typeface/Claxton-Bold.otf"); }
@font-face {
  font-family: Claxton-Light;
  src: url("fonts/Claxton-Typeface/Claxton-Light.otf"); }
@font-face {
  font-family: Moonshot;
  src: url("fonts/Moonshot/Moonshot-Oblique.otf"); }
@font-face {
  font-family: soak-bold;
  src: url("fonts/soak-up-the-sun/suts-bold.otf"); }
@font-face {
  font-family: soak-light;
  src: url("fonts/soak-up-the-sun/suts.otf"); }
@keyframes nameMoveIn {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes chevBounce {
  0%, 100% {
    transform: translateY(0); }
  15%, 95% {
    transform: translateY(2px); }
  30%, 80% {
    transform: translateY(4px); }
  40%, 60% {
    transform: translateY(6px); }
  50% {
    transform: translateY(8px); } }
.landing-section {
  width: 100%;
  height: 100vh;
  margin-top: -0.5em;
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline-block;
  font-size: 9vw;
  text-align: centre;
  font-family: "soak-light", sans-serif;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 93%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 93%); }
  .landing-section .name, .landing-section .tag-line {
    font-size: 2.5em;
    padding-top: 13%;
    background: url("../images/u-cloudink-bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 49%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    text-align: center;
    animation: nameMoveIn 1.5s ease-in; }
  .landing-section .tag-line {
    padding-top: 2%;
    font-size: 1.7em;
    background-position-y: 40%; }

@font-face {
  font-family: Claxton-Bold;
  src: url("fonts/Claxton-Typeface/Claxton-Bold.otf"); }
@font-face {
  font-family: Claxton-Light;
  src: url("fonts/Claxton-Typeface/Claxton-Light.otf"); }
@font-face {
  font-family: Moonshot;
  src: url("fonts/Moonshot/Moonshot-Oblique.otf"); }
@font-face {
  font-family: soak-bold;
  src: url("fonts/soak-up-the-sun/suts-bold.otf"); }
@font-face {
  font-family: soak-light;
  src: url("fonts/soak-up-the-sun/suts.otf"); }
@keyframes nameMoveIn {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes chevBounce {
  0%, 100% {
    transform: translateY(0); }
  15%, 95% {
    transform: translateY(2px); }
  30%, 80% {
    transform: translateY(4px); }
  40%, 60% {
    transform: translateY(6px); }
  50% {
    transform: translateY(8px); } }
.nav {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  z-index: 10; }
  .nav__links {
    text-align: right;
    padding: 1rem 1rem 0 1rem;
    font-family: "Permanent Marker", cursive;
    position: relative;
    margin-right: 1.5rem;
    display: none; }
    .nav__links li {
      margin-bottom: 0.5rem;
      list-style: none;
      font-size: 1.2em; }
      .nav__links li a {
        text-decoration: none;
        color: #000; }
  .nav__icon {
    width: 2rem;
    display: none; }
  .nav .active {
    display: block; }

#aboutme-section {
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 78%);
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0 78%);
  padding-top: 10px;
  margin-top: -3em;
  padding-bottom: 153px; }
  #aboutme-section .aboutme--inner {
    width: 60%;
    margin: 0 auto; }
  #aboutme-section .greeting {
    max-width: 10vw;
    transform: rotate(-20deg);
    margin-top: 40px;
    margin-left: 4em; }
  #aboutme-section #head-shot {
    position: relative;
    border-radius: 100%;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -50px;
    display: block;
    border: solid 2.5px black; }
  #aboutme-section .aboutme-blurb {
    text-align: justify; }
    #aboutme-section .aboutme-blurb p {
      font-family: "Raleway", sans-serif;
      line-height: 2em; }

.section-title, #portfolio-section .work-section-title {
  text-align: justify;
  color: #000;
  font-size: 3rem;
  font-weight: 200;
  font-family: "Permanent Marker", cursive; }

#portfolio-section {
  margin-top: -3.1em;
  background-color: white;
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 92%, 0 100%);
  clip-path: polygon(0 1%, 100% 0, 100% 92%, 0 100%); }
  #portfolio-section .portfolio-section--inner {
    padding-top: 5%;
    width: 60%;
    margin: 0 auto; }
  #portfolio-section .work-section-title {
    text-align: center; }
  #portfolio-section .screenshots {
    width: 100%;
    padding: 10px 10px;
    border: solid 2px #92C7B6;
    margin-top: 5%; }
  #portfolio-section .project-head, #portfolio-section .tech-used-head {
    background: url("../images/u-inky-patterns-bg-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    font-family: "Permanent Marker", cursive;
    font-weight: 200;
    font-size: 1.7em;
    padding-top: 1em; }
  #portfolio-section .project-blurb, #portfolio-section .tech-used {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    line-height: 2em;
    text-align: justify; }
    #portfolio-section .project-blurb--secondary {
      display: none; }
      #portfolio-section .project-blurb--secondary.active {
        display: block;
        line-height: 2em;
        margin: 0 0 18px 0; }
    #portfolio-section .project-blurb button, #portfolio-section .tech-used button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      font-size: 16px;
      font-weight: 600;
      color: #92C7B6;
      line-height: 1rem;
      display: block;
      padding: 10px 0;
      padding-right: 1.3rem;
      margin-bottom: 0;
      margin-right: 5px;
      transition: 0.3s all;
      outline: none; }
      #portfolio-section .project-blurb button:after, #portfolio-section .tech-used button:after {
        content: "";
        font-family: "Font Awesome 5 Free";
        content: "\f077";
        position: absolute;
        width: 20px;
        height: 0.85rem;
        margin-top: 3px;
        margin-left: 7px;
        transition: 0.5s all;
        transform: rotate(180deg); }
      #portfolio-section .project-blurb button:hover, #portfolio-section .tech-used button:hover {
        color: #128ec3;
        transition: 0.4s all; }
    #portfolio-section .project-blurb button.active, #portfolio-section .tech-used button.active {
      color: #b1d3c8;
      outline: none;
      border: none; }
      #portfolio-section .project-blurb button.active:after, #portfolio-section .tech-used button.active:after {
        transition: 0.5s all;
        transform: rotate(360deg); }
  #portfolio-section .tech-used-head {
    text-align: justify; }
  #portfolio-section .tech-used {
    list-style: none;
    text-align: justify;
    font-weight: bolder;
    margin-bottom: 10px; }
    #portfolio-section .tech-used li {
      display: inline; }
  #portfolio-section .hr-separator {
    margin: 0 auto;
    width: 70%; }
    #portfolio-section .hr-separator hr {
      border: 1px solid #000; }

.project-link-container {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%; }
  .project-link-container--last {
    margin-bottom: 25%; }
  .project-link-container .project-links {
    text-decoration: none;
    font-family: "Permanent Marker", cursive;
    color: #92C7B6;
    font-size: 1.2em; }
  .project-link-container a:hover {
    color: #128ec3;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }

#contact-section {
  padding-top: 1em;
  background: #fff;
  margin-top: -2.2em; }
  #contact-section .contact-section--inner {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
  #contact-section .contact-head {
    background: url("../images/u-inky-patterns-bg-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    font-family: "Permanent Marker", cursive;
    font-weight: 200;
    font-size: 1.7em;
    padding-top: 1em; }
  #contact-section #resume-bottom {
    padding-bottom: 2vh; }
  #contact-section .contact-links--inline a {
    display: inline-block;
    padding-right: 1em; }
    #contact-section .contact-links--inline a:last-child {
      padding-right: 0; }
  #contact-section .contact-links {
    text-decoration: none;
    font-family: "Permanent Marker", cursive;
    color: #92C7B6;
    display: block; }
    #contact-section .contact-links i {
      font-size: 1.7em; }
  #contact-section a:hover {
    color: #128ec3;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }

* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 95px;
  color: #333333;
  background: url("../images/u-inky-patterns-bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px; }

.chevron {
  text-align: center;
  animation: chevBounce 1s ease-in infinite; }
  .chevron a {
    color: #000; }
    .chevron a:hover {
      color: #92C7B6;
      transition: all .4s ease; }

@media (max-width: 415px) {
  nav {
    font-size: 1.9rem !important; }

  .tag-line {
    padding-top: 1% !important; } }
@media (max-width: 500px) {
  nav {
    font-size: 1.9rem !important; }

  .section-title, #portfolio-section .work-section-title {
    font-size: 6vw; }

  .work-section-title {
    font-size: 8.5vw !important; } }
@media (max-width: 768px) {
  body {
    padding-top: 160px; }

  .landing-section {
    height: 80vh;
    padding-bottom: 6vh; }
    .landing-section .name, .landing-section .tag-line {
      padding-top: 17%;
      font-size: 19vw; }
    .landing-section .tag-line {
      padding-top: 3%;
      font-size: 12vw; }

  #aboutme-section {
    min-width: 65%;
    padding-bottom: 11vh; }
    #aboutme-section #head-shot {
      width: 32vw; }

  #portfolio-section {
    min-width: 65%;
    padding-top: 2vh; }
    #portfolio-section .work-section-title {
      font-size: 2.5rem; }
    #portfolio-section .project-blurb, #portfolio-section .tech-used {
      line-height: 1.5em; }
    #portfolio-section .tech-used-head {
      padding-top: 10%; }

  #contact-section .contact-head {
    font-size: 2.5rem;
    padding-bottom: 5px; }
  #contact-section .contact-links {
    font-size: 1.6rem; } }
@media (max-width: 868px) {
  body {
    padding-top: 120px !important; }

  .landing-section {
    height: 80vh;
    padding-bottom: 6vh; }
    .landing-section .name, .landing-section .tag-line {
      padding-top: 12%;
      font-size: 16vw; }
    .landing-section .tag-line {
      padding-top: 2%;
      font-size: 10vw; }

  #aboutme-section {
    min-width: 90%;
    padding-bottom: 11vh; }
    #aboutme-section #head-shot {
      width: 28vw; }

  #portfolio-section {
    min-width: 90%;
    padding-top: 2vh; }
    #portfolio-section .work-section-title {
      font-size: 2.5rem; }
    #portfolio-section .screenshots {
      width: 90% !important; }
    #portfolio-section .project-blurb, #portfolio-section .tech-used {
      line-height: 1.5em; }
    #portfolio-section .tech-used-head {
      padding-top: 10%; }

  #contact-section .contact-head {
    font-size: 2.5rem;
    padding-bottom: 5px; }
  #contact-section .contact-links {
    font-size: 1.6rem; } }
@media (max-width: 1450px) {
  .landing-section .name, .landing-section .tag-line {
    padding-top: 50px !important; }
  .landing-section .tag-line {
    padding-top: 14.5px !important; } }
@media (max-width: 1665px) {
  body {
    padding-top: 120px; }

  .landing-section {
    font-size: 8vw !important; }
    .landing-section .name, .landing-section .tag-line {
      padding-top: 10%; }
    .landing-section .tag-line {
      padding-top: 0; }

  #contact-section .contact-head {
    font-size: 2.5rem;
    padding-bottom: 5px; }
  #contact-section .contact-links {
    font-size: 1.6rem; } }
@media (min-width: 1666px) {
  nav {
    padding: 0.5%; }

  .landing-section {
    font-size: 7.5vw; }
    .landing-section .name, .landing-section .tag-line {
      padding-top: 10%; }
    .landing-section .tag-line {
      padding-top: 0; }

  #contact-section .contact-head {
    font-size: 2.5rem;
    padding-bottom: 5px; }
  #contact-section .contact-links {
    font-size: 1.6rem; } }

/*# sourceMappingURL=main.css.map */
