
@import 'landing';
@import 'variables';
@import 'nav';
@import 'about';
@import 'projects';
@import 'contact';

////////////////RESET//////////////////////

* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


///////////////MAIN STYLING///////////////////

body {
  color: $primary-font;
  background: url('../images/u-inky-patterns-bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
}



.clipped {
  background: url('../images/u-inky-patterns-bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background: yellow;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  // margin-bottom: -1px;
  

  &--right {
    -webkit-clip-path: polygon(100% 94%, 0 100%, 100% 100%);
clip-path: polygon(100% 85%, 0 100%, 100% 100%);
    
  }

  &--left {
    -webkit-clip-path: polygon(100% 94%, 0 100%, 100% 100%);
  clip-path: polygon(100% 85%, 0 100%, 100% 100%);
  height: 29%;
  }
  
}
