@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@font-face {
  font-family: Claxton-Bold;
  src: url("fonts/Claxton-Typeface/Claxton-Bold.otf"); }
@font-face {
  font-family: Claxton-Light;
  src: url("fonts/Claxton-Typeface/Claxton-Light.otf"); }
@font-face {
  font-family: Moonshot;
  src: url("fonts/Moonshot/Moonshot-Oblique.otf"); }
@font-face {
  font-family: soak-bold;
  src: url("fonts/soak-up-the-sun/suts-bold.otf"); }
@font-face {
  font-family: soak-light;
  src: url("fonts/soak-up-the-sun/suts.otf"); }
.page-border {
  margin: 0 auto;
  background-color: white; }

.landing-section {
  width: 100%;
  display: inline-block;
  font-size: 9vw;
  text-align: centre;
  font-family: "soak-light", sans-serif;
  min-height: 80vh; }
  .landing-section .name, .landing-section .tag-line {
    font-size: 2.5em;
    padding-top: 13%;
    background: url("../images/u-cloudink-bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 49%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    text-align: center;
    animation: nameMoveIn 1.5s ease-in; }
  .landing-section .tag-line {
    padding-top: 2%;
    font-size: 1.7em;
    background-position-y: 40%; }
  .landing-section .clipped-bg {
    background: url("../images/u-inky-patterns-42.png");
    background-size: 25%;
    height: 38vh;
    width: 100%;
    position: relative;
    -webkit-clip-path: polygon(0 99%, 100% 26%, 100% 100%, 0 100%);
    clip-path: polygon(0 99%, 100% 26%, 100% 100%, 0 100%); }

@font-face {
  font-family: Claxton-Bold;
  src: url("fonts/Claxton-Typeface/Claxton-Bold.otf"); }
@font-face {
  font-family: Claxton-Light;
  src: url("fonts/Claxton-Typeface/Claxton-Light.otf"); }
@font-face {
  font-family: Moonshot;
  src: url("fonts/Moonshot/Moonshot-Oblique.otf"); }
@font-face {
  font-family: soak-bold;
  src: url("fonts/soak-up-the-sun/suts-bold.otf"); }
@font-face {
  font-family: soak-light;
  src: url("fonts/soak-up-the-sun/suts.otf"); }
nav {
  position: fixed;
  top: 0;
  padding: 1%;
  justify-content: space-between;
  text-align: right;
  font-size: 2.2em;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  z-index: 10; }
  nav .nav-link {
    text-align: right;
    padding: 1rem 1rem 0 1rem;
    text-decoration: none;
    font-family: "soak-light", sans-serif;
    color: #000;
    position: relative; }
    nav .nav-link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
    nav .nav-link:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    nav .nav-link:hover {
      color: #92C7B6;
      transition: all .4s ease;
      -webkit-transition: all .4s ease; }

#aboutme-section {
  width: 60%;
  margin: 0 auto; }
  #aboutme-section .greeting {
    max-width: 10vw;
    transform: rotate(-20deg);
    margin-top: 40px;
    margin-left: 10px; }
  #aboutme-section #head-shot {
    position: relative;
    border-radius: 100%;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: solid 2.5px black; }
  #aboutme-section .aboutme-blurb {
    text-align: justify; }
    #aboutme-section .aboutme-blurb p {
      font-family: "Raleway", sans-serif;
      line-height: 2em; }
      #aboutme-section .aboutme-blurb p:last-child {
        margin-bottom: 5%; }

.section-title, #portfolio-section .work-section-title {
  text-align: justify;
  color: #000;
  font-size: 4.5rem;
  font-weight: 200;
  font-family: "soak-light", sans-serif; }

#portfolio-section {
  padding-top: 5%;
  width: 60%;
  margin: 0 auto; }
  #portfolio-section .work-section-title {
    text-align: center; }
  #portfolio-section .screenshots {
    width: 100%;
    padding: 10px 10px;
    border: solid 2px #92C7B6;
    margin-top: 5%; }
  #portfolio-section .project-head, #portfolio-section .tech-used-head {
    background: url("../images/u-inky-patterns-bg-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.7em;
    padding-top: 1em; }
  #portfolio-section .project-blurb, #portfolio-section .tech-used {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    line-height: 2em;
    text-align: justify; }
    #portfolio-section .project-blurb--secondary {
      display: none; }
      #portfolio-section .project-blurb--secondary.active {
        display: block;
        line-height: 2em;
        margin: 0 0 18px 0; }
    #portfolio-section .project-blurb button, #portfolio-section .tech-used button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      font-size: 16px;
      font-weight: 600;
      color: #92C7B6;
      line-height: 1rem;
      display: block;
      padding: 10px 0;
      padding-right: 1.3rem;
      margin-bottom: 0;
      margin-right: 5px;
      transition: 0.3s all;
      outline: none; }
      #portfolio-section .project-blurb button:after, #portfolio-section .tech-used button:after {
        content: "";
        font-family: "Font Awesome 5 Free";
        content: "\f077";
        position: absolute;
        width: 20px;
        height: 0.85rem;
        margin-top: 3px;
        margin-left: 7px;
        transition: 0.5s all;
        transform: rotate(180deg); }
      #portfolio-section .project-blurb button:hover, #portfolio-section .tech-used button:hover {
        color: #128ec3;
        transition: 0.4s all; }
    #portfolio-section .project-blurb button.active, #portfolio-section .tech-used button.active {
      color: #b1d3c8;
      outline: none;
      border: none; }
      #portfolio-section .project-blurb button.active:after, #portfolio-section .tech-used button.active:after {
        transition: 0.5s all;
        transform: rotate(360deg); }
  #portfolio-section .tech-used-head {
    text-align: justify; }
  #portfolio-section .tech-used {
    list-style: none;
    text-align: justify;
    font-weight: bolder;
    margin-bottom: 10px; }
    #portfolio-section .tech-used li {
      display: inline; }
  #portfolio-section .hr-separator {
    margin: 0 auto;
    width: 70%; }
    #portfolio-section .hr-separator hr {
      border: 1px solid #000; }

.project-link-container {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%; }
  .project-link-container .project-links {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    color: #92C7B6;
    font-size: 1.2em; }
  .project-link-container a:hover {
    color: #128ec3;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }

#contact-section {
  padding-top: 1em; }
  #contact-section .contact-head {
    color: #EAAAA0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.5em; }
  #contact-section #resume-bottom {
    padding-bottom: 2vh; }
  #contact-section .contact-links {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    color: #92C7B6;
    font-size: 1.2em;
    display: block; }
  #contact-section a:hover {
    color: #128ec3;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }
  #contact-section .break-img-big-bottom {
    margin-top: 0;
    max-width: 15vw; }

* {
  margin: 0;
  padding: 0; }

body {
  padding-top: 95px;
  color: #333333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px; }

.chevron {
  text-align: center; }
  .chevron a {
    color: #000; }
    .chevron a:hover {
      color: #92C7B6;
      transition: all .4s ease; }

.break-img {
  width: 10vw;
  animation: nameMoveIn 1s ease-in; }

.break-img-big {
  max-width: 10vw;
  animation: nameMoveIn 1s ease-in; }

@keyframes nameMoveIn {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  80% {
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@media (max-width: 380px) {
  nav {
    font-size: 1.9rem !important; }

  .break-img-big {
    width: 36vw !important; }

  .tag-line {
    padding-top: 1% !important; } }
@media (max-width: 500px) {
  nav {
    font-size: 1.9rem !important; }

  .break-img-big {
    max-width: 50vw !important; }

  .break-img {
    width: 24vw; }

  .section-title, #portfolio-section .work-section-title {
    font-size: 6vw; }

  .work-section-title {
    font-size: 8.5vw !important; } }
@media (max-width: 768px) {
  body {
    padding-top: 160px; }

  .landing-section {
    height: 80vh;
    padding-bottom: 6vh; }
    .landing-section .name, .landing-section .tag-line {
      padding-top: 17%;
      font-size: 19vw; }
    .landing-section .tag-line {
      padding-top: 3%;
      font-size: 12vw; }

  #aboutme-section {
    min-width: 65%;
    padding-bottom: 11vh; }
    #aboutme-section #head-shot {
      width: 32vw; }

  .port-break {
    display: none; }

  .break-img {
    width: 18vw; }

  .break-img-big {
    width: 35vw !important; }

  #portfolio-section {
    min-width: 65%;
    padding-top: 2vh; }
    #portfolio-section .work-section-title {
      font-size: 2.5rem; }
    #portfolio-section .project-blurb, #portfolio-section .tech-used {
      line-height: 1.5em; }
    #portfolio-section .tech-used-head {
      padding-top: 10%; }

  #contact-section .contact-head {
    font-size: 2.5rem;
    padding-bottom: 5px; }
  #contact-section .emoji {
    font-size: 3rem; }
  #contact-section .contact-links {
    font-size: 1.6rem; } }
@media (max-width: 868px) {
  body {
    padding-top: 120px !important; }

  .landing-section {
    height: 80vh;
    padding-bottom: 6vh; }
    .landing-section .name, .landing-section .tag-line {
      padding-top: 12%;
      font-size: 16vw; }
    .landing-section .tag-line {
      padding-top: 2%;
      font-size: 10vw; }

  .break-img-big {
    width: 35vw !important; }

  #aboutme-section {
    min-width: 90%;
    padding-bottom: 11vh; }
    #aboutme-section #head-shot {
      width: 28vw; }

  #portfolio-section {
    min-width: 90%;
    padding-top: 2vh; }
    #portfolio-section .work-section-title {
      font-size: 2.5rem; }
    #portfolio-section .screenshots {
      width: 90% !important; }
    #portfolio-section .project-blurb, #portfolio-section .tech-used {
      line-height: 1.5em; }
    #portfolio-section .tech-used-head {
      padding-top: 10%; }

  #contact-section .contact-head {
    font-size: 2.5rem;
    padding-bottom: 5px; }
  #contact-section .emoji {
    font-size: 3rem; }
  #contact-section .contact-links {
    font-size: 1.6rem; } }
@media (max-width: 1450px) {
  .landing-section .name, .landing-section .tag-line {
    padding-top: 50px !important; }
  .landing-section .tag-line {
    padding-top: 14.5px !important; }

  .break-img-big {
    width: 45vh !important; } }
@media (max-width: 1665px) {
  body {
    padding-top: 120px; }

  .landing-section {
    font-size: 8vw !important; }
    .landing-section .name, .landing-section .tag-line {
      padding-top: 10%; }
    .landing-section .tag-line {
      padding-top: 0; }

  .break-img-big {
    width: 28vw;
    margin-top: -3%; }

  #contact-section .contact-head {
    font-size: 2.5rem;
    padding-bottom: 5px; }
  #contact-section .emoji {
    font-size: 3rem; }
  #contact-section .contact-links {
    font-size: 1.6rem; } }
@media (min-width: 1666px) {
  nav {
    padding: 0.5%; }

  .landing-section {
    font-size: 7.5vw; }
    .landing-section .name, .landing-section .tag-line {
      padding-top: 10%; }
    .landing-section .tag-line {
      padding-top: 0; }

  .break-img-big {
    width: 19vw; }

  #contact-section .contact-head {
    font-size: 2.5rem;
    padding-bottom: 5px; }
  #contact-section .emoji {
    font-size: 3rem; }
  #contact-section .contact-links {
    font-size: 1.6rem; } }

/*# sourceMappingURL=main.css.map */
