////////////NAV/////////////
//MOBILE FIRST

.hamburger {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: $bold-font;
  height: 58px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  &__wrapper {
    position: absolute;
    top: 25px;
    right: 25px;

    > span {
      background: $primary-font;
      border-radius: 3px;
      display: block;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      width: 31px;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
    }

    &:hover {
      cursor: pointer;
      > span {
        background-color: $teal;
      }
    }
  }

  &__menu {
    background-color: white;
    height: 100vh;
    list-style-type: none;
    padding: 45px 0 25px 0;
    position: absolute;
    right: -101vw;
    text-align: center;
    top: 50px;
    transition: right 0.8s;
    width: 100vw;
  }

  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    
  }

  &__link {
    color: $primary-font;
    font-size: 60px;
    text-decoration: none;
  }

  &.open {
    background-color: rgba(255, 255, 255, 1);
    span {
      opacity: 1;
      transform: rotate(45deg) translate(-5px, -11px);
    }

    span:nth-last-child(3) {
      opacity: 0;
      display: none;
    }

    span:nth-last-child(2) {
      transform: rotate(-45deg) translate(-9px, 11px);
    }

    .hamburger {
      &__menu {
        right: 0;
      }

      &__item {
        opacity: 0;
        animation: fadeIn $bezier 1s forwards;
        animation-delay: 1s;

        &:nth-child(1) {
          animation-delay: 0ms;
        }
        &:nth-child(2) {
          animation-delay: 100ms;
        }
        &:nth-child(3) {
          animation-delay: 200ms;
        }
        &:nth-child(4) {
          animation-delay: 300ms;
        }
      }
    }

  
  }

  &.closed {
    .hamburger {

      &__menu {
        transition-delay: 250ms;
      }
      &__item {
        opacity: 1;
        animation: fadeOut $bezier 0.3s forwards;
        &:nth-child(1) {
          animation-delay: 0ms;
        }
        &:nth-child(2) {
          animation-delay: 50ms;
        }
        &:nth-child(3) {
          animation-delay: 100ms;
        }
        &:nth-child(4) {
          animation-delay: 150ms;
        }
      }
    }
  }
}




// //MEDIA QUERIES - MEDIUM


// //MEDIA QUERIES - WIDE
  