////////////NAV/////////////
//MOBILE FIRST

.nav {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  z-index: 10;
  

  &__links {
    text-align: right;
    padding: 1rem 1rem 0 1rem;
    font-family: $para2-font;
    position: relative;
    margin-right: 1.5rem;
    display: none;

    li {
      margin-bottom: 0.5rem;
      list-style: none;
      font-size: 1.2em;

      a {
        text-decoration: none;
        color: #000;
      }

    }
    
  }

  &__icon {
    width: 2rem;
    display: none;
  }
  
  
  .active {
    display: block;
  } 
}

//MEDIA QUERIES - MEDIUM

.nav {
  // justify-content: space-between;
  // text-align: right;


 // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 2px;
    //   bottom: 0;
    //   left: 0;
    //   background-color: #000;
    //   visibility: hidden;
    //   -webkit-transform: scaleX(0);
    //   transform: scaleX(0);
    //   -webkit-transition: all 0.3s ease-in-out 0s;
    //   transition: all 0.4s ease-in-out 0s;
    // }

    // &:hover:before {
    //   visibility: visible;
    //   -webkit-transform: scaleX(1);
    //   transform: scaleX(1);
    // }

    // &:hover {
    //   color: $teal;
    //   transition: all .4s ease;
    //   -webkit-transition: all .4s ease;
    // }
  }

//MEDIA QUERIES - WIDE
  