@import 'variables';

/////MY WORK///////

.portfolio {
  margin-top: -3.1em;
  background-color: white;
  position: relative;

    &__content {
      padding-top: 5%;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      // added this but may remove on mobike
      padding-bottom: 100px;
    }

    &__item {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-flow: column nowrap;
    }
  
    &__header {
      text-align: justify;
      display: block;
      font-size: 3rem;
      font-weight: 200;
      font-family: $para2-font;
      text-align: center;
    }

    &__photo-container {
      width: 100%;
      height: 220px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      box-shadow: 10px 10px #92C7B6;
    }
  
    &__screenshots {
      width: 100%;
      margin-top: 5%;
    }
  
    &__project-head {
      color: $primary-font;
      display: block;
      font-family: $para2-font;
      font-weight: 200;
      font-size: 1.7em;
      padding-top: 1em;
    }
  
    &__project-blurb {
      margin: 0 auto;
      font-family: $para-font;
      line-height: 2em;
      text-align: justify;

      &--secondary {
        display: none;

        &.active {
          display: block;
          line-height: 2em;
          margin: 0 0 18px 0;
        }
      }

      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        font-size: 16px;
        font-weight: 600;
        color: $teal;
        line-height: 1rem;
        display: block;
        padding: 10px 0;
        padding-right: 1.3rem;
        margin-bottom: 0;
        margin-right: 5px;
        transition: 0.3s all;
        outline: none;

        &:after {
          content: "";
          font-family: "Font Awesome 5 Free";
          content: "\f077";
          position: absolute;
          width: 20px;
          height: 0.85rem;
          margin-top: 3px;
          margin-left: 7px;
          transition: 0.5s all;
          transform: rotate(180deg);
        }
        &:hover {
          color: teal;
          transition: 0.4s all;
        }
      }

     
        button.active {
          color: #b1d3c8;
          outline: none;
          border: none;
    
          &:after {
            transition: 0.5s all;
            transform: rotate(360deg);
          }
         }
        
    }
  
    &__tech-heading {
      @extend .portfolio__project-head;
      text-align: justify;
    }
  
  
    &__tech-list {
      @extend .portfolio__project-blurb;
      list-style: none;
      text-align: justify;
      font-weight: bolder;
      margin: 0px;
      margin-bottom: 1em;

      li {
        display: inline;
      }
    }

    .hr-separator {
      margin: 0 auto;
      width: 70%;

      hr {
        border: 1px solid #000;
       
      }
    }
  
  
  &__links-wrapper {
    text-align: center;
    margin-top: auto;
  
    &--last {
      margin-bottom: 110px;
    }
  }
  &__links {
    text-decoration: none;
    font-family: $para2-font;
    color: $teal;
    font-size: 1.2em;

    &:hover {
      color: teal;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
    }
  }
}

// MOBILE LANDSCAPE
@media (min-width: 665px) {
  .portfolio {
    &__photo-container {
      height: 335px;
    }
  }
}

//IPAD
@media (min-width: $breakpoint-tablet) {
  .portfolio {
    &__content {
      width: 60%;
    }
  }
}

// DESKTOP
@media (min-width: $breakpoint-desktop) {
  .portfolio {
    &__content {
      width: 60%;
    }

    &__photo-container {
      height: 220px;
      padding: 10px 10px;
      border: solid 2px $teal;
    }

    &__item {
      width: 40%;
      min-height: 500px;
    }
  }
}