/////MY WORK///////
.section-title {
  text-align: justify;
  color: #000;
  font-size: 4.5rem;
  font-weight: 200;
  font-family: $light-font;
}
#portfolio-section {
  padding-top: 5%;
    width: 60%;
    margin: 0 auto;
  
    .work-section-title {
        @extend .section-title;
        text-align: center;
    }
  
    .screenshots {
      width: 100%;
      padding: 10px 10px;
      border: solid 2px $teal;
      margin-top: 5%;
    }
  
    .project-head {
      background: $font-image-secondary;
      background-size: 100%;
      background-repeat: no-repeat;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      display: block;
      font-family: $para2-font;
      font-size: 1.7em;
      padding-top: 1em;
    }
  
    .project-blurb {
      margin: 0 auto;
      font-family: $para-font;
      line-height: 2em;
      text-align: justify;
    }
  
    .tech-used-head {
      @extend .project-head;
      text-align: justify;
    }
  
  
    .tech-used {
      @extend .project-blurb;
      list-style: none;
      text-align: justify;
      font-weight: bolder;
      margin-bottom: 10px;

      li {
        display: inline;
      }
    }

    .hr-separator {
      margin: 0 auto;
      width: 70%;

      hr {
        border: 1px solid #000;
      }
    }
  }
  
  .project-link-container {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
  
    .project-links {
      text-decoration: none;
      font-family: $para2-font;
      color: $teal;
      font-size: 1.2em;
    }
  
    a:hover {
      color: $blue;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
    }
  }